.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.editor {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  align-items: center;
}

.line-number {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  color: gray;
}

.slate-angular-editor {
  flex-grow: 1;
}
